<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Пользователи</title>
</head>
<body>
    <h3>Введите данные пользователя:</h3>
    <form method="post">
        <input type="text" name="firstName" placeholder="Имя"></br>
        <input type="text" name="lastName" placeholder="Фамилия"></br>
        <input type="text" name="age" placeholder="Возраст"></br>
        <button type="submit">Сохранить</button>
    </form>
    <div class="container">
        </br></br></br>
        <h3>Список пользователей:</h3>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Имя</th>
                <th scope="col">Фамилия</th>
                <th scope="col">Возраст</th>
            </tr>
            </thead>
            <tbody>
            <div th:each="user:${users}">
                <tr>
                    <th scope="row" th:text="${user.getId()}">id</th>
                    <td th:text="${user.getFirstName()}">Имя></td>
                    <td th:text="${user.getLastName()}">Фамилия</td>
                    <td th:text="${user.getAge()}">Возраст</td>
                    <td>
                        <button type="button" th:onclick="|window.location.href='@{/main/{id}(id=${user.getId()})}'|">
                            Редактровать
                        </button>
                    </td>
                    <td>
                        <form method="post" th:action="@{/main/delete/{id}(id=${user.getId()})}">
                            <button type="submit"
                                    th:onclick="|window.location.href='@{/main/delete/{id}(id=${user.getId()})}'|">
                                Удалить
                            </button>
                        </form>
                    </td>
                </tr>
            </div>
            </tbody>
        </table>
</div>
</body>
</html>